body {
    text-align: center;
    background-image: url("../images/mountain.jpg");
    background-size: cover;
    background-position: center;
    height: 100%;
    font-family: 'Mukta', sans-serif;
}

#timer-div {
    font-size: 28px;
}

.question {
    font-size: 28px;
}

#final-score {
    font-size: 28px;
    background-color: #f8f9fa;
    border-radius: 25px;
}

input {
    margin: 10px;
}
