body {
    text-align: center;
    background-image: url("../images/mountain.jpg");
    background-size: cover;
    background-position: center;
    height: 100%;
    font-family: 'Mukta', sans-serif;
}